svg {
  background-color: aquamarine;
  border-radius: 5px;
  width: 250px;
  height: 250px;
  overflow: visible;
}
.daily-chart-container{
    .daily-chart {
        width: 100%;
        .kg-bar{
            fill: #ff0000;
        }
    }
}
.small-chart-container {
  display: flex;
  justify-content: space-around;
  .linechart-container {
    margin-right: 1%;
    .linechart {
      background-color: #ff0000;
    }
  }
  .radar-chart {
    margin-right: 1%;
    background-color: #282d30;
  }
}
