svg {
  background-color: aquamarine;
  border-radius: 5px;
  width: 250px;
  height: 250px;
}
.charts-container {
  width: 75%;
  .daily-chart-container {
    margin-bottom: 1%;
    .daily-chart {
      width: 100%;
      background-color: #fbfbfb;
      .kg-bar {
        fill: #282d30;
      }
    }
  }
  .small-chart-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .linechart-container {
      margin-right: 1%;
      width: 33%;
      .linechart {
        background-color: #ff0000;
      }
    }
    .radar-chart-container {
        // width: 250px;
        width: 33%;
      .radar-chart {
        margin-right: 1%;
        background-color: #282d30;
      }
    }
    .progress-chart-container {
      height: 250px;
      width: 33%;
      position: relative;
      .progress-title{
        position: absolute;
        left: 10%;
        top: 7%;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
    
        color: #20253A;
      }
      .progress-lable{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        font-family: "Roboto";
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 26px;
        color: #282D30;
      }
      .progress-chart{
        .recharts-wrapper{
          svg {
            background-color: #FBFBFB;
          }
        }
      }
    }
  }
}
